/* Estilo geral do menu lateral */
.menu-lateral {
    width: 16%;
    background-color: #145a29;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: row-reverse;
   
}

.menu-lateral ul {
    padding: 3%;
    margin: 0;
}

.menu-lateral ul li a{
    display: block;
    width: 83%;


}

.item-menu {
    position: relative;
}

.item-menu a {
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 22px;
    text-decoration: none;
    color: #fff;
}

.item-menu a:hover {
    background-color: #3d9632;
}
   

.icon {
    margin-right: 10px;
}
/* Estilo para os submenus */
.menu-lateral ul ul.submenu {
    display: none;
    position: absolute;
    left: 102%;
    top: 0;
    background-color: #1c5f1c;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.menu-lateral ul ul.submenu li {
    display: block;
}

.menu-lateral ul ul.submenu a {
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu-lateral ul ul.submenu a:hover {
    background-color: #46b11c;
    
   
}

.menu-lateral li:hover > ul.submenu {
    display: block;
    transition: 1s;
}

/* Estilo para o botão de expandir */
.btn-expandir {
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    background-color: #145a29;
    text-align: left;
    transition: 1s;
}

.btn-expandir:hover {
    background-color: #40972d;
    transition: 1s;
}